@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.topbar {
  font-family: "Poppins", sans-serif;
  background-color: #003366; /* Blue bar */
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 8px 30px;
  width: 100%;
}

.topbar .topbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topbar .topbar-left .divider {
  /* font-weight: bold;*/
  color: yellow;
}

.topbar .topbar-left .contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Phone icon and email icon */
.topbar .topbar-left .contact svg {
  color: yellow;
}

.topbar .enroll-btn {
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.enroll-btn:hover {
  background-color: #e6e6e6;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .topbar .contact {
    font-size: 0.55rem; /* smaller text */
  }

  .topbar .topbar-left .contact {
    display: inline-flex; /* makes phone & email horizontal */
    font-size: 0.55rem; /* same smaller font */
  }

  .topbar .contact svg {
    font-size: 0.9rem; /* smaller icons */
  }
  .topbar .topbar-left .contact.email {
    display: none;
  }

  .topbar .enroll-btn {
    font-size: 0.55rem; /* smaller button text */
    padding: 4px 8px; /* smaller button */
    /* border-radius: 3px; /* adjust corners */
  }
}
